body {
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.emoji {
    position: absolute;
    font-size: 2rem;
    animation: flying 3s linear infinite;
}

@keyframes flying {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.emoji:hover {
    opacity: 0;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --bej: #f2f2f2;
    --finder: #29788a;
    --pinkzey: #d75e8e;
    --homepage: #186d6d;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #19525e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (max-width: 600px) {
    .container, .container-1 {
        padding: 10px;
    }

    .search-bar {
        max-width: 100%;
        width: calc(100% - 20px);
    }
}

.container-1 {
    max-width: 90%;
    text-align: center;
    padding: 20px;
}

.search-container {
    display: flex;
    flex-direction: column; /* Dikey sıralama */
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-radius: 20px;
}

.search-bar {
    width: 70%; /* Yatayda genişlik ayarı */
    max-width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    box-sizing: border-box;
    box-shadow: none;
}

.search-button {
    position:fixed;
    border: none;
    background-color: #19525e;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    margin-left: 435px;

}



#search {
    color: #ffffff;
}

.user-buttons {
    position: fixed;
    top: 10px;
    right: 20px;
}

.user-buttons button {
    margin-left: 10px;
    padding: 10px;
    background-color: #29788a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-bar {
    padding: 8px;
}

.home-icon{
    color: #fff;
}

.item-list {
    list-style: none;
    padding: 0;
    display: none;
    width: 70%; 
    max-width: 400px; 
    margin-top: 10px; 
    background-color: #fff;
    border-radius: 20px;
}

.item-list li {

    margin: 1px;
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;

}

.item-list li:hover {
    background-color: #f0f0f0;
}

.logo
{
    position: relative;
margin-right: 90%;
height:75px;

}